@model MyShopApp.Web.Models.LoginViewModel

@{
    Layout = "_LayoutAccount";
}



<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">            
                <table class="table table-responsive">                
                    <form class="text-center" method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <h2>Sign in to Bikes Shop</h2>
                        <div>
                            <label asp-for="Email">Email adderss</label><br />
                            <input asp-for="Email" />
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div>
                            <label asp-for="Password"></label><br />
                            <input asp-for="Password" />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="form-check">       
                            <input class="form-check-input" type="checkbox" asp-for="RememberMe">
                            <label class="form-check-label" asp-for="RememberMe">Remember me</label><br />
                        </div>
                        <div>
                        <button type="submit" class="btn btn-dark mb-2">Enter</button>
                        </div>
                    </form>               
                </table>           
        </div>
        <div class="col-6">
            <img src="/AccountPageImage/moto5.jpg" class="rounded" style="width: 900px; height: 900px" alt="">
        </div>
    </div>
 </div>
 

    
