@model MyShopApp.Web.Models.OrderViewModel

@{
    ViewBag.Title = "MakeOrder";
}

<h2>Make Order</h2>

<form asp-action="MakeOrder" asp-controller="Home" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="MotorcycleName" />
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label">Address</label>
        <input type="text" asp-for="Address" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label">PhoneNumber</label>
        <input type="text" asp-for="PhoneNumber" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create Order" class="btn btn-dark" />
    </div>
</form>

